* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #20bf55;
  background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%); }

footer {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center; }

@media screen and (min-width: 576px) {
  .column {
    width: 50%;
    padding: 15px; } }

@media screen and (min-width: 800px) {
  .column {
    width: 25%;
    padding: 25px; } }

@media screen and (max-width: 1100px) {
  .hide {
    display: none; } }
